@media only screen and (min-width:992px) and (max-width:1024px){
    .header-section.header-transparent {
    height: 8vh;
}
    
    .form-wrapper {
    margin-left: -39px;
}

.repayment-img p {
    margin-right: 20px;
}

.help-you-box {
    width: 275px;
}
    .debt-free-col h3 {
    padding: 0px 40px;
}

.debt-free-col p {
    padding: 0px;
}

body {
    background-size: contain;
}
    
    .debt-free-section img.rocket {left: 176px;margin-top: 20px;}
}
@media only screen and (min-width:320px) and (max-width:992px){
    ul.navigation{
        display: none;
    }
}
@media only screen and (min-width:320px) and (max-width:500px){
    
    body {
    background-image: none!important;
}
    
    h3.main-section-title {
    font-size: 52px;
    margin-top: 0px;
}
    button.btn.btn-primary.btn-main-section {
    display: block;
    margin-top: 30px;
}
    .example-img img {
    margin-left: 0px;
}
    
    .test-box {
    width: 345px;
    margin: 0 auto;
}
    
    .debt-free-col h3 {
    padding: 0px 45px;
    margin-bottom: 15px;
}
    
    .debt-free-col {
    margin-bottom: 100px;
}
    
    .footer {
    background-size: cover;
}
    
    .site-desc p {
    position: absolute;
    bottom: -185%;
}

.site-desc {
    margin-top: 130px;
}

    .footer-tablecell{
        vertical-align: top;
    }

    ul.contact-info.links {
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
}
    
    .footer{
        background-image: url(../images/footer-mobile.png)!important;
    }
    
    .form-wrapper {
    margin-left: 0px;
    width: 95%;
}
    
    .debt-free-section img.rocket {
    display: none;
}
    
    .debt-free-col p {
    padding: 0px;
}


.logo {
    width: 250px;
}

.logo img {
    width: 100%;
}
    
    .test-box {
    width: 250px;
}
    
    
    header.main-header-2 {
    background-image: none!important;
    background: none;
}
    
    .other-debts .debt-card {
    width: 300px;
    margin: 0 auto;
    margin-top: 35px;
}
    
    .news-card {
    width: 300px;
    margin: 0 auto;
    margin-top: 35px;
}
    
    .entry-content {
 
        margin-top: 0px;}
.header-logo {
    width: 220px;
}

    .header-section{
        background-image: none!important;
    }
}

